/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body { 
    height:100%; 
    width:100%;
    font-family: "Erato Light", "Arial Narrow", Arial, sans-serif;
}
#sidebar{
    position: fixed;
    left: 0;
    width: 60px;
    height: 100%;
    background-color: #000;
    z-index: 3;
}
#sidebar img{
    position: relative;
    max-width: 55px;
}

#map-container{
    z-index: -1;
    bottom: 0;
}
#map{
    width:100%;
    height:100%;
    position: absolute;
    top: 0px;
    left: 0px;

}
#content-column{
    position: relative;
    width: 60%;
    color: black;
    overflow-y: scroll;
    height: 96%;
    margin-left: 7%;
    max-width: 460px;
}
.overlay-locked{
  position: absolute;
    height: auto;
    width: 100%;
    z-index: 51;

   
}
.overlay-locked img{
    height: auto;
    margin-top: 10px;
  
   
}
.content-cards:nth-child(n+1) .overlay-locked .overlay-text{
    color: #000;
    background-color: rgba(255, 255, 255, 0.3);
    font-weight: bolder;
    position: absolute;
    z-index: 150;
    text-align: center;
    width: 100%;
    top: 20%;
}
.content-cards:nth-child(n+1) .overlay-locked img{
  width: 100%;
  position: relative;
  top: -10px;
  height: 100%;
} 

.lightbox img{
    width: 100%;
    max-width: 485px;
    height: auto;
    position: relative;
    z-index: 50;
}
.content-cards{
    background: #fff;
    text-align: center;
    margin-top: 10px;
    position: relative;
}
.content-cards h1{
  color: #ac9167;
  font-family: Futura, Arial, sans-serif;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.content-cards h3{
  color: #b16150;
  font-family: Futura, Arial, sans-serif;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
}
.content-cards h4{
  color: #847b71;
  font-family: Futura, Arial, sans-serif;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}
.content-cards p{
  margin: 5% 2% 0 2%;
}

.icons{
  padding-bottom: 3%;
}
.arrow-icon{
  padding: 0 19px 19px;
  display: inline-block;
  background: url("../img/ICON_arrow_down.png") no-repeat top;
  background-size: 35px 19px;
}
.facebook-icon{
  padding: 20px;
  display: inline-block;
  background: url("../img/Icon_Facebook.png") no-repeat top;
  background-size: 40px 40px;
}
.twitter-icon{
  padding: 20px;
  display: inline-block;
  background: url("../img/Icon_Twitter.png") no-repeat top;
  background-size: 40px 40px;
}
.mail-icon{
  padding: 20px;
  display: inline-block;
  background: url("../img/Icon_Email.png") no-repeat top;
  background-size: 40px 40px;
}
.facebook-icon:hover{
  padding: 20px;
  display: inline-block;
  background: url("../img/Icon_Facebook_hover.png") no-repeat top;
  background-size: 40px 40px;
}
.twitter-icon:hover{
  padding: 20px;
  display: inline-block;
  background: url("../img/Icon_Twitter_hover.png") no-repeat top;
  background-size: 40px 40px;
}
.mail-icon:hover{
  padding: 20px;
  display: inline-block;
  background: url("../img/Icon_Email_hover.png") no-repeat top;
  background-size: 40px 40px;
}
#unlock-photos-banner{
    background-color: #ac9167;
    display: block;
    padding: 7px 0 7px;
    position: relative;
    top: -19px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    z-index: 100;
}
#unlock-photos-banner a{
    color: #ffffff;
    text-decoration: none;
}
#unlock-photos-banner a{
    color: #ffffff;
    text-decoration: none;
}
.required {
    color: red;
    }
footer{
    text-align: center;
    position: relative;
    clear: both;
    bottom: 0;
    padding-top: 7%;
}
footer img{
    display: inline-block;
}
footer p{
  color: #847b71;
  margin: 0;
}
footer #copyright-text{
  padding-bottom: 2%;
}
footer .menu__social {
  padding: 0;
}
footer .menu__social li{
  display: inline-block;
  padding: 0 2% 0 2%;  
}
footer .menu__social a{
  color: #847b71;
  text-decoration: none;
  font-weight: bold;
}
footer .menu_policy li{
  display: inline-block;
  padding: 0 2% 0 2%;
  
}
footer .menu_policy a{
  color: #847b71;
  text-decoration: none;
  font-weight: bold;
}
footer .menu_policy{
 padding: 3% 0 0 0;
}

.menu__social__item{
  border: 1px solid #847b71;
  border-radius: 10px;
  width: 80%;
}
#error,#email-error{
    color: red;
}
.backdrop-locked{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  z-index: 50;
  display: none;
}
.backdrop{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  z-index: 50;
  display: none;
}
.box-locked{
  position: absolute;
  top: 15%;
  left: 30%;
  width: 40%;
  height: auto;
  z-index: 51;
  display: none;
}
.box{
  position: absolute;
  top: 15%;
  left: 25%;
  width: 50%;
  height: auto;
  z-index: 51;
  display: none;
}
.box img{
    width: 100%;
    height: auto;
}
.box img{
    width: 100%;
    height: auto;
}
.close{
    position: relative;
    right: -100%;
    top: 0;
    text-decoration: none;
    color: #fff;
    font-size: 40px;
}
.close-locked{
    position: relative;
    right: -50%;
    top: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 40px;
}
.mySlidesLocked .text{
  text-align: center;
  margin: auto;
}
.mySlidesUnlocked .text{
  text-align: center;
  margin: auto;
}
.mySlidesLocked h3{
  color: #ac9167;
  text-transform: uppercase;
  padding-top: 5%;
  font-size: 1.5rem;
}
.mySlidesLocked h3{
  color: #ac9167;
  text-transform: uppercase;
  padding-top: 5%;
  font-size: 1.5rem;
}
.mySlidesLocked p{
  font-size: 1rem;
}
.mySlidesUnlocked p{
  font-size: 1rem;
}
.mySlidesLocked input{
  border: none;
  border-radius: 5px;
  padding: 10px 75px 10px 10px;
  text-align: left;
  width: 60%;
  color: #000000;
}
.mySlidesUnlocked input{
  border: none;
  border-radius: 5px;
  padding: 10px 75px 10px 10px;
  text-align: left;
  width: 60%;
}
.mySlidesLocked button{
  background-color: #00b3a3;
  color: #ffffff;
  text-transform: uppercase; 
  border: none;
  border-radius: 5px;
  padding: 13px 50px;
}
.mySlidesUnlocked button{
  background-color: #00b3a3;
  color: #ffffff;
  text-transform: uppercase; 
  border: none;
  border-radius: 5px;
  padding: 13px 50px;
}
/* Slideshow container */
.slideshow-container-locked{
  max-width: 800px;
  position: relative;
  margin: auto;
  padding-bottom: 5%;
  background-color: rgba(0,0,0,0.8);
}
.slideshow-container-unlocked {
  position: relative;
  margin: auto;
  padding-bottom: 5%;
  background-color: rgba(0,0,0,0.8);
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  right: 40px;
  bottom: 0;
  width: auto;
  margin-top: -22px;
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  
}
.prev{
  background: url(../img/ICON_left-arrow.png) no-repeat;
  background-size: 40px 40px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  background: url(../img/ICON_right-arrow.png) no-repeat;
  background-size: 40px 40px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover{
  background-color: rgba(0,0,0,0.8);
  background: url(../img/ICON_left-arrow_hover.png);
  position: absolute;
  right: 40px;
  background-size: 40px 40px;

}
.next:hover{
  background-color: rgba(0,0,0,0.8);
  background: url(../img/ICON_right-arrow_hover.png);
  position: absolute;
  right: 0;
  background-size: 40px 40px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 14px;
  position: inherit;
  width: 84%;
  text-align: left;
}
.text p{
  padding: 0 0 0 3%;
}
.caption-country{
  color: #b16150;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  padding-right: 8px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 640px) {
#content-column {
    width: 100%;
    max-width: 100%;
    margin: 0;
}
#map-container{
  height: 40%;
}
.content-cards p {
  width: 65%;
  margin: auto;
}
#map{
    height: inherit;
}
}
@media only screen and (max-width: 1000px) {
.box{
  position: absolute;
  top: 15%;
  left: 10%;
  width: 80%;
  height: auto;
  z-index: 51;
  display: none;
}

}@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}